:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* palette */
  --primary: #f1f1f1;
  --secondary: #313131;
  --secondary-dark: #181818;
  --secondary-light: #4b4b4b;
  --accent: #0b8359;
  --accent-dark: #096245;
  --accent-light: #13a470;
  --main-copy: #dedede;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /*background-color: #1f1f1f;*/
  background-color: #181818;
  color: #ddd;
}
